# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# Xcode - Build
build/
DerivedData/
*.xcodeproj/build/

# Xcode - User-specific
xcuserdata/
*.xcuserstate
*.xcuserstatec
*.xcscmblueprint
*.xccheckout

# Xcode - Other
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.swiftpm/
.build/
Packages/
Package.pins
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/
Carthage/Checkouts

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Playgrounds
timeline.xctimeline
playground.xcworkspace
